.index-page {
  .header {
    .website-tech-list {
      li {
        align-items: center;
        display: flex;
        font-style: oblique;

        img {
          margin-left: 8px;
        }
      }
    }
  }
}
