html, body {
	height: 100%;
	/*background-color: #E3CDA4;*/
}

body {
	color: #2F343B;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
	/*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

.inner {
	padding: 30px;
	background-color: #703030;
}

.cover {
	background-color: #E3CDA4;
}

.mastfoot {
	background-color: #C77966;
}