.header {
    font-size: 60px;
    text-align: left;
    padding: 5% 0% 0% 0%;
    color: #43ABC9; 
    text-shadow: 2px 2px 8px #000;
    font-family: 'Ubuntu', sans-serif;
}

.subheader {
    font-size: 30px;
    text-align: left;
    padding: 0% 0% 0% 0%;
    color: #1277A8;
    text-shadow: 2px 2px 8px #000;
    font-family: 'Ubuntu', sans-serif;
}

.table {
    background-color: rgba(, , , 0.5);
}

thead {
    font-size: 30px;
    color: #1277A8;
    text-shadow: 2px 2px 8px #000;
    font-family: 'Ubuntu', sans-serif;
}

.posts-title {
    color: #5cb85c;
}

.posts-title:hover {
    color: #4cae4c;
    text-decoration: none;
}

.posts-title:hover {
    color: #4cae4c;
    text-decoration: none;
}

.posts-title:visited {
    /*color: hotpink;*/
}

.table-nonfluid {
    width: 75% !important;
}

.center-table {
    margin: 0 auto !important;
    float: none !important;
}