.container {
	height: 100%;
	width: 100%;
	background-image: url('../img/header.jpg');
	background-position: center;
	background-size: cover;
    overflow: auto
}

.img-container {
    padding: 2% 2% 2% 0%;
    float: left;
}

.image-circle {
    border-radius: 50%;
    box-shadow: 5px 5px 20px black;
}

.header {
    font-size: 60px;
    text-align: left;
    padding: 5% 0% 0% 0%;
    color: #43ABC9; 
    text-shadow: 2px 2px 8px #000;
    font-family: 'Ubuntu', sans-serif;
}

.subheader {
    font-size: 30px;
    text-align: left;
    padding: 0% 0% 0% 0%;
    color: #1277A8;
    text-shadow: 2px 2px 8px #000;
    font-family: 'Ubuntu', sans-serif;
}

.resume-pdf {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    padding: 0%;
}




