.header {
    font-size: 60px;
    text-align: left;
    padding: 5% 0% 0% 0%;
    color: #43ABC9; 
    text-shadow: 2px 2px 8px #000;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.subheader {
    font-size: 30px;
    text-align: left;
    padding: 0% 0% 0% 0%;
    color: #1277A8;
    text-shadow: 2px 2px 8px #000;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.container {
    margin-top: 10%;
}
