@import 'settings/variables';

body {
  background-color: $malachite;
  color: $alabaster;
  font-family: Helvetica, serif;
  text-transform: uppercase;

  a {
    color: $navy;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $alabaster;
    }
  }

  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: $alabaster;
    }
  }

  .blink {
    animation: blink 1s step-end infinite;
  }
}

@import 'components/footer';
@import 'pages/index-page';
