<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pascal Allen</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon-16x16.png">
    <link rel="manifest" href="../public/site.webmanifest">
    <link href="../public/assets/app.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/b05f5595ec.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root"></div>
    <input id="script_config" type="hidden" value="{{ .environment }}" />
    <script type="text/javascript" src="../public/assets/app.js"></script>
    <script src="../public/assets/wasm.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("../public/assets/wasm.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
            typewriter("profession-text", "Software Developer", 40);
            handleAllButtonClicks();
            handleAllAnchorClicks();
        });
    </script>
</body>
</html>